@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@media screen and (min-width: 1280px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #91f5ad;
        color: #1f3151;
    }
    #logoAndWebSiteName>img {
        width: 250px;
    }
    #hamburgerMenu label,
    #hamburgerMenu input {
        display: none;
    }
    label {
        display: block;
    }
    #logoAndWebSiteName>img {
        width: 250px;
    }
    h1 {
        font-size: 24px;
        letter-spacing: 0.004em;
        word-spacing: 0.05em;
        font-family: 'Notable', sans-serif;
        display: block;
    }
    #siteName {
        font-size: 40px;
        color: #292929;
        text-transform: uppercase;
    }
    #payoff {
        font-size: 20px;
        color: #292929;
        font-style: italic;
    }
    #navigationBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #daffdd;
    }
    #navigationBar li {
        float: left;
    }
    #navigationBar li a {
        display: block;
        color: #1f3151;
        text-align: center;
        padding: 13px 15px;
        text-decoration: none;
    }
    #navigationBar li a:hover {
        background-color: #455f47;
        color: white;
    }
    p {
        line-height: 1.4em;
        letter-spacing: 0.004em;
        word-spacing: 0.05em;
        text-indent: 1.3em;
        text-transform: none;
    }
    #footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #copyright {
        margin-bottom: 0px;
        bottom: 5px;
        left: 5px;
        width: 35%;
        height: 30px;
        float: left;
        padding: 5px;
        background-color: #2d1070;
        color: #ffc72b;
        z-index: 9999;
        text-align: left;
        font-weight: bold;
    }
    #cookie {
        position: fixed;
        bottom: 6px;
        right: 6px;
        width: 40%;
        height: 30px;
        float: right;
        padding: 5px;
        background-color: #fa0;
        color: #fff;
        opacity: 50%;
        z-index: 9999;
        text-align: center;
        font-weight: bold;
    }
    footer {
        width: 100%;
        clear: both;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .asideImage {
        width: 200px;
    }
    /*contact*/
    #contact-body {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "header header" "information information" "form aside" "footer footer";
    }
    #header {
        grid-area: header;
    }
    label {
        display: block;
        padding: 5px;
    }
    #contact-information {
        grid-area: information;
    }
    #contact-form {
        grid-area: form;
    }
    fieldset>label:last-child>input {
        width: 200px;
        align-self: center;
    }
    #contact-product1 {
        grid-area: product1;
    }
    #contact-product2 {
        grid-area: product2;
    }
    #contact-product3 {
        grid-area: product3;
    }
    #contact-aside {
        grid-area: aside;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "product1" "product2" "product3";
        margin-left: 180px;
    }
    footer {
        grid-area: footer;
    }
}

@media screen and (max-width: 1279px) and (min-width: 481px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #91f5ad;
        color: #1f3151;
    }
    #logoAndWebSiteName>img {
        width: 250px;
    }
    #hamburgerMenu label,
    #hamburgerMenu input {
        display: none;
    }
    label {
        display: block;
    }
    #logoAndWebSiteName>img {
        width: 250px;
    }
    h1 {
        font-size: 24px;
        letter-spacing: 0.004em;
        word-spacing: 0.05em;
        font-family: 'Notable', sans-serif;
    }
    #siteName {
        font-size: 40px;
        color: #292929;
        text-transform: uppercase;
    }
    #payoff {
        font-size: 20px;
        color: #292929;
        font-style: italic;
    }
    #navigationBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #daffdd;
    }
    #navigationBar li {
        float: left;
    }
    #navigationBar li a {
        display: block;
        color: #1f3151;
        text-align: center;
        padding: 13px 15px;
        text-decoration: none;
    }
    #navigationBar li a:hover {
        background-color: #455f47;
        color: white;
    }
    p {
        line-height: 1.4em;
        letter-spacing: 0.004em;
        word-spacing: 0.05em;
        text-indent: 1.3em;
        text-transform: none;
    }
    #footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #copyright {
        margin-bottom: 0px;
        bottom: 5px;
        left: 5px;
        width: 35%;
        height: 30px;
        float: left;
        padding: 5px;
        background-color: #2d1070;
        color: #ffc72b;
        z-index: 9999;
        text-align: left;
        font-weight: bold;
    }
    #cookie {
        position: fixed;
        bottom: 6px;
        right: 6px;
        width: 40%;
        height: 30px;
        float: right;
        padding: 5px;
        background-color: #fa0;
        color: #fff;
        opacity: 50%;
        z-index: 9999;
        text-align: center;
        font-weight: bold;
    }
    footer {
        width: 100%;
        clear: both;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .asideImage {
        width: 180px;
    }
    /*contact*/
    #contact-body {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "header header" "information information" "form aside" "footer footer";
    }
    #header {
        grid-area: header;
    }
    label {
        display: block;
        padding: 5px;
    }
    #contact-information {
        grid-area: information;
    }
    #contact-form {
        grid-area: form;
    }
    fieldset>label:last-child>input {
        width: 200px;
        align-self: center;
    }
    #contact-product1 {
        grid-area: product1;
    }
    #contact-product2 {
        grid-area: product2;
    }
    #contact-product3 {
        grid-area: product3;
    }
    #contact-aside {
        grid-area: aside;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "product1" "product2" "product3";
        margin-left: 60px;
    }
    footer {
        grid-area: footer;
    }
}

@media screen and (max-width: 480px) {
    body {
        margin: 5px 5px 5px 5px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #91f5ad;
        color: #1f3151;
        font-size: 13px;
    }
    #logoAndWebSiteName>img {
        width: 100px;
    }
    h1 {
        font-size: 15px;
        letter-spacing: 0.004em;
        word-spacing: 0.05em;
        font-family: 'Notable', sans-serif;
    }
    #siteName {
        font-size: 25px;
        color: #292929;
        text-transform: uppercase;
    }
    #payoff {
        font-size: 13px;
        color: #292929;
        font-style: italic;
    }
    #hamburgerMenu label {
        float: right;
    }
    #navigationBar input:not(:checked)~#navigationList {
        display: none;
    }
    #navigationBar input:checked~#navigationList {
        display: block;
    }
    #navigationList {
        font-size: 10px;
    }
    #hamburgerCheckBox {
        display: none;
    }
    label {
        display: block;
        padding: 1px;
    }
    #navigationBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #daffdd;
    }
    #navigationBar li {
        float: left;
        width: 100%;
    }
    #navigationBar li a {
        display: block;
        color: #1f3151;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    #navigationBar li a:hover {
        background-color: #455f47;
        color: white;
    }
    #footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #copyright {
        margin-bottom: 0px;
        font-size: 9px;
        bottom: 5px;
        left: 5px;
        width: 40%;
        height: 30px;
        float: left;
        padding: 5px;
        background-color: #2d1070;
        color: #ffc72b;
        z-index: 9999;
        text-align: left;
        font-weight: bold;
    }
    #cookie {
        position: fixed;
        bottom: 6px;
        right: 6px;
        width: 40%;
        height: 30px;
        float: right;
        padding: 5px;
        background-color: #fa0;
        color: #fff;
        opacity: 50%;
        z-index: 9999;
        text-align: center;
        font-weight: bold;
    }
    footer {
        width: 100%;
        clear: both;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .asideImage {
        width: 100px;
    }
    /*contact*/
    #contact-body {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "header" "information" "form" " aside" "footer";
    }
    #logoAndWebSiteName {
        grid-area: top;
    }
    #navigationBar {
        grid-area: hamburgerMenu;
    }
    #header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto 100px;
        grid-template-areas: "top hamburgerMenu";
    }
    #contact-information {
        grid-area: information;
    }
    #contact-form {
        grid-area: form;
    }
    fieldset>label:last-child>input {
        width: 200px;
        align-self: center;
    }
    #contact-product1 {
        grid-area: product1;
    }
    #contact-product2 {
        grid-area: product2;
    }
    #contact-product3 {
        grid-area: product3;
    }
    #contact-aside {
        grid-area: aside;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "product1" "product2" "product3";
    }
    #footer {
        grid-area: footer;
    }
}